<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Search</title>
		<link rel="stylesheet" href="/stylesheets/header.css" />
		<link rel="stylesheet" href="/stylesheets/container.css" />
		<link rel="stylesheet" href="/stylesheets/answer-submit.css" />
		<script>
			var qId = "<%= qId %>";
		</script>
		<script src="/javascripts/answer-submit.js"></script>
	</head>
	<body>
		<%- include("header") %>
		<div class="container">
			<div class="container-header">
				<h1><%= message %></h1>
			</div>
			<div class="container-body">
				<br />
				<% if (message == "Oops, it looks like you chose the wrong answer!") { %>
					<h2>The correct answer:</h2>
					<p><%= correctChoice + ": " + correctAnswer %>
				<% } %>
				<p>Your score: <%= score %></p>
				<p id="vote-area"><button id="upvote" class="vote">^</button> <span id="upvotes"><%= upvotes %></span> <button id="downvote" class="vote">v</button> <span id="downvotes"><%= downvotes %></span> </p>
			</div>
		</div>
	</body>
</html>